name: "ci/cd"

on:
  push:
    branches:
      - main
      - fix*
      - feature*

jobs:
#  test:
#    name: test
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - uses: actions/setup-node@v1
#        with:
#          node-version: 15.5.0
#          registry-url: https://registry.npmjs.org
#      - run: |
#          git clone https://github.com/kopnik-org/kopnik-node
#          cd kopnik-node
#          cp default.env .env
#          sed -i 's/COOKIE_SECRET=/COOKIE_SECRET=1234/g' .env
#
#          docker-compose pull --quiet node db
#          docker-compose up -d node db
#          docker-compose exec -T node npm run typeorm:migration:run
#      - run: npm i
#      - run: npm test
  build:
    name: build
    if: github.ref == 'refs/heads/main'
#    needs:
#      - test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 15.5.0
          registry-url: https://registry.npmjs.org

      - run: npm run docker:build
      - run: docker login -u alexey2baranov -p ${{ secrets.DOCKER_PASSWORD }}
      - run: npm run docker:push

  deploy:
    name: deploy
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: ssh
        uses: kopnik-org/github-action-ssh@release
        with:
          command: |
            cd ~/kopnik-docker
            docker-compose pull --quiet-pull client
            docker-compose up --build -d client
          host: kopnik.org
          username: someuser
          password: ${{ secrets.SSH_PASSWORD }}
